$main-color: #412853;
$accent-dark: #1D1B26;
$accent-light: #ac376b;
$accent-bright: #fb3d4d;
$accent-bright2: #e4c164;
$base: #edded2;

@mixin btn {
  width: 150px;
  height: 30px;
  background: $accent-bright2;
  border-radius: 40px;
  font-weight: 100;
  font-size: 18px;
  font-family: cursive;
  color: black;
  line-height: 22px;

  &:hover {
    background-color: $accent-bright;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    color: black;
  }
  &:disabled{
    background-color: #5c5a62;
    color: #706d6c;
  }
}

@mixin fld {
  margin: 5px;
  border-radius: 40px;
  width: 100px;
  height: 20px;
  text-align: center;
  font-size: 14px;
  background-color: $base;

  &:focus {
    outline: 2px outset $accent-bright;
    outline-offset: 2px;
  }

  &:active, :hover {
    outline: 0;
    outline-offset: 0;
  }
}

@mixin text {
  font-weight: 200;
  font-size: 20px;
  line-height: 28px;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

html {
  font: 14px/18px 'Tahoma', Arial, sans-serif;
  background-color: $main-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: $accent-dark;
  display: flex;
  flex-direction: column;
}

.container {
  width: 50%;
  min-width: 400px;
  max-width: 600px;
  margin: auto;
  padding: 15px 20px;
  background-color: $accent-light;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.4);
}

.game {
  &-header {
    font-weight: 600;
    font-size: 24px;
  }

  &-exit__btn {
    @include btn;
    margin-bottom: 10px;
  }

  &-play__btn {
    @include btn;
  }

  &-rules {
    &__btn {
      @include btn;
      margin-bottom: 10px;
    }

    &__form {
      background-color: $accent-light;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      box-shadow: 0 2px 14px rgba(0, 0, 0, 0.4);
    }

    &__item {
      font-size: 20px;
    }

    &__fld {
      @include fld;
    }

    &__info {
      @include text;
    }

    &__wish {
      @include text;
      font-size: 30px;
      margin: 30px;
    }
  }
}

.generator {

  &__info {
    @include text;
    .span {
      font-weight: 800;
    }
  }

  &__form {
    align-items: baseline;
  }

  &__fld {
    @include fld;
  }

  &__btn {
    @include btn;
  }

  &__results {
    @include text;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &-guesses {
      padding: 0;
      margin: 0;
    }

    &-last {
      width: 50%;
      background-color: $accent-light;
      padding: 5px;
      margin: 0;
      border-radius: 10px;
    }
  }
}